body{
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #D3BCC2;
  color: #686567;
}

#artwork {
  display: none;
  vertical-align: text-top;
}

.artwork{
  height: 110px;
}
.list-group{
  height: inherit;

}

.list-group-item{
  font-size: 18px;
  background-color: #E9E3E6;
}

.panel-default{
  background-color: #E9E3E6;
}

.game-area{
  height: 330px;
}


#first-guess-name{
  display: none;
}

#sec-guess-name{
  display: none;
}

#third-guess-name{
  display: none;
}

button:disabled{
  color: #CCCCCC;
}

#message{
  visibility: hidden;
}

#guess-box{
  color: #686567;
}
input:focus{
    outline: none;
}
#header{
  color: #60585e;
}
#score-div{
  padding: 10px;
}

#start-game, #restart-button{
  background-color: #E9E3E6;
  border-color: #9A8F97;
  color: #000000;
}
